*.iml
.gradle
*.pyc
*.swp
*.bak
.idea/*
/local.properties
/.idea/workspace.xml
/.idea/libraries
.DS_Store
/build
/captures
.externalNativeBuild
.idea
/release
*build*
app/*.iml
plugin/build/*
gradlew
.idea/*
plugin/*
app/*.iml
